<h2 mat-dialog-title>{{ data.task ? 'Edit Task' : 'Add Task' }}</h2>

<mat-dialog-content>
  <form *ngIf="taskForm" [formGroup]="taskForm" (submit)="onSaveClick()">
    <mat-form-field appearance="fill">
      <input matInput placeholder="Title" formControlName="title" required>
      <mat-error *ngIf="taskForm?.get('title')?.hasError('required')">Title is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input matInput placeholder="Priority" formControlName="priority" required>
      <mat-error *ngIf="taskForm?.get('priority')?.hasError('required')">Priority is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input matInput type="number" placeholder="Estimated Time" formControlName="estimatedTime" required>
      <mat-error *ngIf="taskForm?.get('estimatedTime')?.hasError('min')">Estimated Time must be a positive number</mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="completed">Completed</mat-checkbox>

    <mat-form-field appearance="fill">
      <input matInput placeholder="Category Name" formControlName="categoryName">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input matInput placeholder="Subcategory Name" formControlName="subCategoryName">
    </mat-form-field>

    <button mat-button type="submit" class="save" [disabled]="taskForm.invalid">Save</button>
  </form>
</mat-dialog-content>
