<body>
  <div *ngIf="errorMessage; else userTable">
    <p>{{ errorMessage }}</p>
  </div>

  <button mat-icon-button (click)="openUserFormDialog()">
    <mat-icon>add</mat-icon>
  </button>

  <!-- Display a table with user details -->
  <ng-template #userTable>
    <div class="container">
      <h2>User Management <small>Registered users</small> </h2>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">Username</div>
          <div class="col col-2">Email</div>
          <div class="col col-3">Password</div>
          <div class="col col-4">Age</div>
          <div class="col col-4">Phone Number</div>
          <div class="col col-4">Role</div>
          <div class="col col-4">Subscribed</div>
          <div class="col col-4">Twitter URI</div>
          <div class="col col-4">Facebook URI</div>
          <div class="col col-4">Actions</div>
        </li>
        <li class="table-row" *ngFor="let user of users">
          <div class="col col-1" data-label="Username">{{ user.username }}</div>
          <div class="col col-2" data-label="Email">{{ user.email }}</div>
          <div class="col col-3" data-label="Password">{{ user.password }}</div>
          <div class="col col-4" data-label="Age">{{ user.age }}</div>
          <div class="col col-4" data-label="Phone Number">{{ user.phoneNumber }}</div>
          <div class="col col-4" data-label="Role">{{ user.role }}</div>
          <div class="col col-4" data-label="Subscribed">{{ user.subscribed }}</div>
          <div class="col col-4" data-label="Twitter URI">{{ user.socialMedia ? user.socialMedia.twitterUri : '' }}
          </div>
          <div class="col col-4" data-label="Facebook URI">{{ user.socialMedia ? user.socialMedia.fbUri : '' }}</div>
          <div class="col col-4" data-label="Actions">
            <button *ngIf="user.id" (click)="deleteUser(user.id)" class="delete">Delete</button>
            <button (click)="openUserFormDialog(user)" class="edit">Edit</button>
          </div>
        </li>
      </ul>
    </div>
  </ng-template>
</body>